@charset "utf-8";
.body {
	background-color: rgb(47, 56, 76);
}

.profile-picture {
	width: 130px;
    border-style: none;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
}
.role-title {
	color:rgb(94,112,156);
	
}
.container	{
	background-color: white;
}

.highlight {
	color:rgb(94,112,156);
	font-style: strong;
}

.col-md-6 col-sm-12 {
	border-style: solid;
	border-color:black;
}

.linkedin-logo {
	float:left;
	padding-right: 5px;
}

.cert-container {
	margin-top:30px;
}
.cert-image {
	max-height:150px;
}

.work-experience-container {
	border-right-style:solid;
}
.myInfo-container {
	padding-left: -25px;

}

.nav-buttons {
	background-color:rgb(47, 56, 76);
	color:white;
	border-style:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.badge-container {
	style:"display:grid; grid-template-rows: 100% 100%;"
}

.nav-containerVtwo {
	background-color: white;
	position:fixed;
	Top: 0;
	left:0;

}
.test-pink {
	background-color: lightpink;
}
.test-blue {
	background-color: lightblue;
}

.profile-img {
	height: 150px;
	margin-top:-11px;
	margin-left: -16px;
	margin-right: 20px;
	margin-bottom: -40px;
	border-style: solid;
	border-width: 20px;
	border-color:#f8f9fa ;
	border-bottom-right-radius: 40px;
  }
  
  .profile-name {
	display: inline-block;
	color:rgb(94,112,156);
	font-weight: bold;
	margin-bottom: 5px;
	margin-top:0;
	font-size:30px;
  }

  .profile-title {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin:0;
  }
  
  .navbar {
	position: relative;
  }
  
  .navbar-brand {
	display: flex;
	align-items: center;
  }

  .custom-btn {
	background-color:rgb(94,112,156);
	color: #FFFFFF;
	border-color: rgb(94,112,156);
  }
  
  .custom-btn:hover {
	background-color: #FFFFFF;
	color: rgb(94,112,156);
	border-color: #FFFFFF;
  }
  
  .education-container {
	padding-left:15px;
  }

  .skill_set {
	max-width:539px !important;
  }
  .address {
	padding-left:15px;
	padding-right:30px;
  }
  .address-container {
	border-right: 2px solid rgb(94,112,156);
	width:239px;
  }